* {
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

body {
    margin: 0px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/wall-21534_1920.jpg);
    background-attachment: scroll;
    background-size: cover;
}

nav {
    background-color: rgb(15, 15, 15);
    padding: 20px;
}

a {
    color: rgb(199, 199, 199);
    font-size: 30px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

a.contact {
    font-size: 30px;
    background-color: rgba(57, 248, 9, 0.829);
    border-radius: 3px;
    color: black;
    margin-left: 20px;
}

a.contact:hover {
    zoom: 1.05;
    background-color: aqua;
}

section.main {
    height: 600px;
    width: 500px;
    margin-left: 470px;
}

span.name {
    color: white;
    font-weight: 700;
    font-size: 45px;
    padding: 20px;
    margin-right: 350px;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 3px;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    clip-path: circle(50% at 50% 50%);
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 25px;
    margin-top: -20px;
    text-align: center;
}